# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
out/
coverage/

# Caches / temp
.cache/
tmp/
temp/

# Prisma generated
**/prisma/generated/
**/prisma/client/

# Logs
*.log

# Minified files
*.min.js

# TypeScript build
*.tsbuildinfo